html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open sans';
    color: #48555B;
}

@media (min-width: 1100px) {
.container {
    max-width: 990px;
}
}

.intro {
    background-image: url("../pics/bg.png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro .container {
    height: 768px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 
}

.intro h1 {
    color: white;
    font-family: 'open sans';   
    text-wrap: nowrap;
    font-size: 60px;
    line-height: 70.31px;
    letter-spacing: 5.71px;
    text-align: center;
    font-weight: 400;
}

.text-color {
    color: #00A4E5;
}

.intro p {
    color: white;
    font-family: 'Open Sans';   
}


.nav {
    list-style: none;
    gap: 30px;
    display:flex;
    font-family: 'Open Sans'; 
    color: #48555B;

}

.intro__heading {
    text-align: center;
    position: relative;
}

.intro__heading::before {
    content: '';
    background: #33CCFF;
    width: 50px;
    height: 2px;
    bottom: -7px;
    position: absolute;
    right: 445px;
}



.section-wrapper {
    display: flex;
    margin-bottom: 120px;
    gap: 70px;
}

.story .inner-wrapper:nth-child(1){
    display: grid;
   
    flex-direction: column;
    width: 50%;
}

.story .inner-wrapper:nth-child(2) {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
}

.header {
    border: #E6E6E6 1px solid;
}

.header .container {
    display: flex;
    justify-content: space-between;

}




.nav__item {
    padding: 12px 0;
}


.section-wrapper p {
    color: #48555B;
}

.inner-wrapper p:nth-child(1) {

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.19px;
    vertical-align: bottom;

}

.inner-wrapper p:nth-child(2) {

    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;

}

.intro .inner-wrapper:nth-child(3) p {
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 3.7px;
    text-align: center;
    text-transform: uppercase;
}


.btn {

    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color:#00A4E5;
    color: white;
    padding: 11px 29px;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.btn:hover {
    background-color: #3ac0f5;
} 

.story__heading {
    text-align: center;
    
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing:t 2.31px;
    text-transform: uppercase;
    margin-bottom: 60px;
    background: linear-gradient(179deg, #00a4e5, #00a4e5);
    background-size: 50% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: inline-block;
    padding-bottom: 5px;
}

.header {
    margin-bottom: 60px;
}



.nav__item {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 1.09px;
    text-align: center;

}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1.09px;
    color: #48555B;
}

.nav__link:hover {
    color: #00A4E5; 
}

.sec-capabilities .wrapper:nth-child(1){
    margin-bottom: 60px;
}



.sec-capabilities__heading {
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    position: relative;
    text-wrap-mode: nowrap;
    /* margin: 0; */
    margin-block: 0;
    margin-bottom: 20px;
   
}

.sec-capabilities__heading::before {
    content: "";
    height: 2px;
    width: 40px;
    position: absolute;
    left: 0;
    right: 0;
    /* margin-inline: auto; */
    background: #10b9b9;
    /* bottom: -5px; */
    top: calc(100% + 5px);
}




.sec-capabilities .wrapper:nth-child(1) {
    display: flex;
    align-items: flex-start;
}

.sec-capabilities .wrapper:nth-child(2) {
    display: flex;
    gap: 28px;
}



.sec-capabilities__phraze {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405px;
    margin-left: auto;
    align-self: self-end;
    margin-block: 0;
}

.build .container {
    height: 500px;
    background-image: url ("../pic/bg.jpg");
}

.story__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.build__btn {
    text-decoration: none;
    margin: 0 auto;
}

.build {
    background-image: url('../pics/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.build .container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.build__heading {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.newsletter {
    margin-top: -1px;
    //padding-bottom: 35px;
}

.newsletter, .s-footer {
    background: #171819;;
    color:white;
}

.newsletter__btn {
    text-decoration: none;
}

.newsletter__form .wrapper {
    display: flex;
}

.newsletter .container {
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.newsletter__input {
    width: 250px;
    border: 0;
    border-radius: 0;
    padding: 0 20px;
}

.newsletter__input:focus {
    border: 0;
}



@media  (max-width:567px) {
    .newsletter__btn {
        width: 100%;
    }
}

.newsletter__heading {
    margin-right: 70px;
}



.s-footer .container {
    display: flex
} 

.block--first  {
    flex: 2 1;
}

.block--second {
    flex: 2 1;
    display: flex;
    flex-direction: column;
}    
.block--third {
    flex: 1 1;
}


.block--fourth {
    flex: 1 1;
}

.block--fourth ul {
    display: flex;
}


.s-footer ul {
    list-style: none;
}

.s-footer__list {
    padding-left: 0px;
    margin: 10px;   
}

.s-footer__item {
    margin-block: 10px;
}

.socials__item {
    padding: 10px;
}


@media (max-width: 950px) {
    .intro h1 {
        max-width: 394px;
        text-align: center;
        text-wrap: wrap;
        
    }
}

@media (max-width: 500px) {
    .intro h1 {
        font-size: 20px;
    }
}


@media (max-width: 1050px) {
    .section-wrapper {
       flex-direction: column;
    }
    .story .inner-wrapper:nth-child(1) {
    width: 100%;
    }
}

@media (max-width: 600px) {
    .section-wrapper .inner-wrapper:nth-child(2) {
       display: none;
    }
    

}

@media (max-width: 970px) {

.sec-capabilities .wrapper:nth-child(1) {
    flex-direction: column;
    gap: 10px;
}

.sec-capabilities__phraze {
    max-width: unset;
}
 
}

@media (max-width: 991px) {
    .sec-capabilities .wrapper:nth-child(2) {
        flex-direction: column;
    }

}

@media (max-width: 991px) {
    .newsletter .container {
        flex-direction: column;
        margin-top: -2px;
        margin-bottom: -2px;
        padding-bottom: 30px;  
        height: 100%;   
    }
    .newsletter__heading {
        margin: 10 0px;
        margin-right: 0;
    }
}




@media (max-width: 789px) {
    .s-footer .container {
        flex-direction: column;
           
    }
}

@media (max-width:600px) {

    .newsletter__form .wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .newsletter__input {
        padding: 10px;
}
}


/* mobile menu */

.header__menu-toggle {
    position: relative;
    height: 36px;
    width: 36px;
    cursor: pointer;
    z-index: 1;
}

.header__menu-toggle span:nth-child(1) {
    top: 6px;
}

.header__menu-toggle span:nth-child(2) {
    top: 16px;
}

.header__menu-toggle span:nth-child(3) {
    top: 26px;
}

.header__menu-toggle span {
    display: block;
    width: 36px;
    height: 4px;
    position: absolute;
    left: 0;
    background: linear-gradient(180deg, #080808 0%, #0d0e0d 100%);
    border-radius: 6px;
    transition: transform .2s ease, opacity .2s ease;
}

@media (min-width: 768px) { 
    .header__menu-toggle {
        display: none;
    }
}

@media (max-width: 767px) { 
    .nav-wrapper {
        display: none;
        position: fixed;
        width: 100%;
        inset: 0;
        background-color: #ffffff;
        z-index: 9;
        overflow: auto;
        padding-top: 52px;
        padding-bottom: 40px;
}
    .nav {
        display: flex;
        flex-direction: column;
    }
}



body.open .header__menu-toggle{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 50;
    span {
        &:nth-child(1) {
            top: 16px;
            transform: rotate(-45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            top: 16px;
            transform: rotate(45deg);
        }   
    }
}

body.open {
    .nav-wrapper {
        display: block;
    }
}

.card {
    border: 1px solid #E6E6E6;
}

.card__wrapper {
    padding: 20px;
}

.card p {
 
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    vertical-align: middle;
}

.card p {
    font-size: 16px;
}

.block--first p {
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    vertical-align: middle;
}

.s-footer__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.85px;
    text-decoration: none;
    color: white;
}

.block--second__wrapper p {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.85px;
    margin: 0;
    padding-left: 10px;
    text-transform: uppercase;

}

.block--second .block--second__wrapper:nth-child(2) {
    display: flex;
}

.footer-end {
    background: #171819;
}

.block--third {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.85px;

}

.card__wrapper h3 {
    font-size: 16px;
}

.footer-background {
    background-color: #141a20;
}

.footer-background .container {
    padding-top: 20px;
}

.footer-end h3 {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.85px;
    text-align: center;
}