.container {
    max-width: 1180px;
}


.intro {
    background-image: url("pics/bg.png");
    background-color: gray;
    text-align: center;
}

.intro h1 {
    color: white;
    font-family: 'BebasNeue';    
}

.intro p {
    color: white;
    font-family: 'OpenSans';   
}


.nav {
    list-style: none;
    gap: 10px;
    display:flex;
    font-family: 'OpenSans'; 
    color: #48555B;

}

.story .container {
    display: flex;
}

.story .inner-wrapper:nth-child(1){
    display: flex;
    flex-direction: column;
}

.story .inner-wrapper:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.header .container {
    display: flex;
}


