@font-face {
    font-family: 'Acherus Feral';
    src: 
        url('../fonts/Bebas Neue.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/AcherusFeral-Light.woff') format('woff');

    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
