header
    section.intro
        div.container
            div.inner-wrapper
                img(src='pics/project-logo.svg')
            div.inner-wrapper
                h1 PARTNER WITH KONSTRUCT
                p An award-winning construction management firm
            div.inner-wrapper
                p Scroll down
    section.header
        div.container    
            img(src='pics/logo.svg')
            div.nav-wrapper
                ul.nav
                    li.nav__item 
                        a.nav__link(href="#") home 
                    li.nav__item 
                        a.nav__link(href="#") about
                    li.nav__item 
                        a.nav__link(href="#") services
                    li.nav__item 
                        a.nav__link(href="#") work
                    li.nav__item 
                         a.nav__link(href="#") contact
                //div.header__menu-toggle
                        span
                        span
                        span               
            div.header__menu-toggle
                        span
                        span
                        span        
            
                        

