header
    section.intro
        div.container
            div.inner-wrapper
                img(src='pics/project-logo.svg')
            div.inner-wrapper
                h1 PARTNER WITH KONSTRUCT
                p An award-winning construction management firm
            div.inner-wrapper
                p Scroll down
    section.header
        div.container    
            img(src='pics/logo.svg')
            div.nav-wrapper
                ul.nav
                    li.nav__item home
                        a.nav__link(href="#") 
                    li.nav__item about
                        a.nav__link(href="#") 
                    li.nav__item services
                        a.nav__link(href="#") 
                    li.nav__item work
                        a.nav__link(href="#") 
                    li.nav__item contact
                        a.nav__link(href="#")
                //div.header__menu-toggle
                        span
                        span
                        span               
            div.header__menu-toggle
                        span
                        span
                        span        
            
                        

