header
    section.intro
        div.container
            h1 PARTNER WITH KONSTUCT
            p An award-winning construction management firm
    section.story 
        div.container    
            img(src='pics/logo.svg')
            ul.nav
                li.nav__item home
                    a.nav__link(href="") 
                li.nav__item about
                    a.nav__link(href="") 
                li.nav__item services
                    a.nav__link(href="") 
                li.nav__item work
                    a.nav__link(href="") 
                li.nav__item contact
                    a.nav__link(href="")     

