extends ./includes/tmpl.pug

block main

    main
        section.story
            div.container
                div.inner-wrapper
                    h2.intro__heading Our story
                    p Founded in 2011 by John Mathew Smith, Konstruct has become the number one construction management firm
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                div.inner-wrapper
                    img(src="pics/plan.jpg", alt="")
                    img(src="pics/manage.jpg", alt="")
                    img(src="pics/deliver.jpg", alt="")
