extends ./includes/tmpl.pug

block main

    main
        section.story
            div.container
                h2.story__heading Our story
                div.section-wrapper
                    div.inner-wrapper
                        p.phraze Founded in 2011 by John Mathew Smith, <span class=text-color>Konstruct</span> has become the number one construction management firm
                        p.phraze Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    div.inner-wrapper
                        img.story__pic(src="pics/plan.jpg", alt="" width=140)
                        img.story__pic(src="pics/manage.jpg", alt="" width=140)
                        img.story__pic(src="pics/deliver.jpg", alt="" width=140)
        section.sec-capabilities 
            div.container 
                div.wrapper 
                    h2.sec-capabilities__heading Our capabilities
                    p.sec-capabilities__phraze  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    a.btn All services
                div.wrapper
                    div.card
                        div.card__wrapper
                            img.card__pic(src="pics/Bitmap.svg", alt="") 
                            h3 PROJECT AND CONSTRUCTION MANAGEMENT
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    div.card
                        div.card__wrapper
                            img.card__pic(src="pics/Bitmap-2.svg", alt="") 
                            h3 PROJECT AND CONSTRUCTION MANAGEMENT
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    div.card
                        div.card__wrapper
                            img.card__pic(src="pics/Bitmap-3.svg", alt="") 
                            h3 PROJECT AND CONSTRUCTION MANAGEMENT
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.        
        section.build 
            div.container
                
                    h2.build__heading Want to build<br> something amazing?
                    a.btn.build__btn(.href="#") GET IN TOUCH        
        section.newsletter 
            div.container
                h3.newsletter__heading Newsletter Signup
                div 
                    form.newsletter__form(action="")
                        div.wrapper  
                            input.newsletter__input(type="text" placeholder='E-mail')
                            a.btn.newsletter__btn(href="#") SIGN UP
                        
                                                                                                                            

